* {
    box-sizing: border-box;
}

.body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: SF -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    overflow-x: hidden;
}


/* ///////////////////////////////////////////////////////// */


/* Menu */


/* ///////////////////////////////////////////////////////// */

.menu {
    display: block;
    position: fixed;
    top: 0px;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 85px;
    transition: all 0.3s ease-out;
}


/* Logo */

nav span {
    float: left;
    display: block;
    font-size: 35px;
}

.logo_1_top {
    color: blueviolet;
    font-size: 45px;
    margin-left: 2%;
    transition: all 0.3s ease-out;
}

.logo_1_bottom {
    color: blue;
    font-size: 45px;
    margin-left: 2%;
}

.logo_2_top {
    margin-top: 0.5%;
    color: white;
    transition: all 0.3s ease-out;
}

.logo_2_bottom {
    margin-top: 0.5%;
    color: black;
}


/* Logo anime */

.logo_2:hover {
    color: gray;
}

.logo_3:hover {
    color: gray;
}

.menu_texte {
    margin-top: 1.5%;
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 5%;
    font-size: 18px;
    margin-bottom: 7%;
}

.menu_texte_accueil {
    margin-left: 35%;
}

.menu_texte:hover {
    color: grey;
}

.li_active>a {
    color: blueviolet;
}

.menu_btn {
    margin: auto;
    font-size: 17px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: solid;
    background-color: transparent;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
    border-radius: 980px;
    margin-right: 3%;
}


/* ///////////////////////////////////////////////////////// */


/* Anime nav */


/* ///////////////////////////////////////////////////////// */

.menu_anime_top {
    background-color: black !important;
    border-bottom: 1 px solid #f1f1f1;
}

.menu_anime_bottom {
    background-color: white;
    border-bottom: 1 px solid #f1f1f1;
}

.a_anime_top {
    color: white;
}

.a_anime_bottom {
    color: black;
}

.menu_btn_top {
    border-color: white;
}

.menu_btn_bottom {
    border-color: black;
}

.menu_btn_top:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.menu_btn_bottom:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}


/* ///////////////////////////////////////////////////////// */


/* Header */


/* ///////////////////////////////////////////////////////// */

.header {
    display: block;
    width: 100%;
    height: 350px;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    margin-top: 5%;
}

h1.header_titre {
    padding-top: 5%;
}

.header_texte {
    font-size: 17px;
    margin-bottom: 3%;
}

.header_button1 {
    color: white;
    font-size: 17px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 2.25%;
    border-color: white;
    background-color: transparent;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
    border-radius: 980px;
}

.header_button1:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.header_button2 {
    color: white;
    font-size: 17px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 2.25%;
    border-color: white;
    background-color: transparent;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
    border-radius: 980px;
}

.header_button2:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}


/* ///////////////////////////////////////////////////////// */


/* Section Anime*/


/* ///////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////// */


/* Section */


/* ///////////////////////////////////////////////////////// */

.section_intro {
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    height: 170px;
    padding-top: 0.01%;
}

.section_intro_titre {
    font-size: 25px;
}


/* ///////////////////////////////////////////////////////// */


/* Article 1 */


/* ///////////////////////////////////////////////////////// */

.article_1 {
    text-align: center;
}

.article_1_img {
    background-image: url('../images/air_force_1.webp');
    background-repeat: no-repeat;
    margin: auto;
    width: 50%;
    height: 500px;
}

.card {
    margin: auto;
    height: 300px;
    width: 500px;
    padding-top: 1.5%;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.sale_1 {
    color: red;
    position: relative;
    top: -330px;
    transform: rotate(45deg) translateX(330px);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover>.sale_1 {
    font-size: 24px;
}

.article_nom {
    font-size: 24px;
}

.rating a {
    color: orange;
    text-decoration: none;
    font-size: 22px;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover~a,
.rating a:focus~a {
    color: #aaa;
    cursor: pointer;
}

.article_prix {
    font-size: 18px;
    margin-bottom: 7px;
}

.article_prix_barre {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
    text-align: center;
}

.article_prix2 {
    font-size: 18px;
}

.article_btn {
    clear: both;
    margin: auto;
    color: black;
    font-size: 17px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: solid;
    border-color: black;
    background-color: transparent;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
    border-radius: 980px;
}

.article_btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}


/* Article 2 */

.article_2 {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 15%;
}

.article_2_img {
    background-image: url('../images/montre_lige.jpg');
    background-repeat: no-repeat;
    margin: auto;
    width: 15%;
    height: 350px;
    margin-bottom: 2.5%;
}


/* Faq */

.faq {
    background-color: beige;
    height: 550px;
    font-family: helvetica, helvetica neue, open sans, Arial, sans-serif;
}

.faq_titre {
    padding-top: 2.5%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 3%;
    font-weight: bolder;
}

.faq_container {
    display: table-cell;
}

.faq_1_container {
    float: left;
    margin-left: 17%;
    width: 28%;
    margin-right: 15%;
    margin-bottom: 2%;
}

.faq_2_container {
    width: 28%;
    float: left;
    margin-bottom: 2%;
}

.faq_3_container {
    float: left;
    margin-left: 17%;
    width: 28%;
    margin-right: 15%;
}

.faq_4_container {
    width: 28%;
    float: left;
}

.faq_question {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

.faq_texte {
    text-align: center;
    font-size: 16px;
    color: #454545;
}

.faq_btn {
    text-decoration: none;
    clear: both;
    margin: auto;
    color: black;
    font-size: 17px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: solid;
    border-color: black;
    background-color: transparent;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
    border-radius: 980px;
}

.faq_btn:hover {
    color: black;
    background-color: rgb(255, 213, 196);
    cursor: pointer;
}

.btn_mail {
    margin-left: 12%;
}